body { padding-right: 0 !important; padding-top: 70px; overflow-x: hidden}

.panel-body  {
  word-wrap: break-word;
}
.wrap {
  white-space: normal;
  word-wrap: break-word;
}
.shadow {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.42);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.42);*/
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.42);
}
.mono {
  font-family: Consolas, Lucida Console, monospace;
}
.qrcodeicon {
  font-size:1.3em !important;
  vertical-align: top;
}
.uppercase {
  text-transform: uppercase;
}
.walletblock {
  font-size:1.0em !important;
  margin-left:5px !important;
  padding: 5px 10px;
}
.compact > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.transactions {
  padding: 5px !important;
}
.transactions ul {
  margin-bottom: 0px !important;
}
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-container {
  position:fixed;
  top: 10px;
  z-index:9999;
  border-radius:5px;
}

.special-img
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.my_web_div {
    position: absolute;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.myfadein {
  opacity:0;
  -webkit-animation:fadeIn 1s;
  -moz-animation:fadeIn 1s;
  animation:fadeIn 1s;
  animation-fill-mode: forwards;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slide_from_left_to_right [ng-view]{
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.slide_from_left_to_right [ng-view].ng-enter  {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    will-change: transform;
}

.slide_from_left_to_right [ng-view].ng-enter.ng-enter-active, .slide_from_right_to_left.ng-leave {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.slide_from_left_to_right [ng-view].ng-leave.ng-leave-active  {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    will-change: transform;
}

 .slide_from_right_to_left [ng-view]{
   -webkit-transition: -webkit-transform 0.2s;
   -moz-transition: -moz-transform 0.2s;
   -o-transition: -o-transform 0.2s;
   transition: transform 0.2s;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   will-change: transform;
}

.slide_from_right_to_left [ng-view].ng-enter  {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    will-change: transform;
}

.slide_from_right_to_left [ng-view].ng-enter.ng-enter-active, .slide_from_left_to_right.ng-leave {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.slide_from_right_to_left [ng-view].ng-leave.ng-leave-active  {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    will-change: transform;
}
