.panel-body  {
   word-break:break-all
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mono {
  font-family: Consolas, Lucida Console, monospace;
}
.compact > li {
  margin-top: 5px;
  margin-bottom: 5px;
}
