<!-- New Channel Modal -->
<div class="modal" id="openchannelmodal" style="top:30px" data-backdrop="static" data-keyboard="false">
  <form id="openchannelform" name="openchannelform" class="container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="close()" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="modallabel">Open New Channel</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
              <div class="form-group">
                <div class"form-control">
                  <label for="remotenode">Remote Node Id:</label>
                  <div class="input-group input-group" style="height:100%">
                    <textarea rows="2" id="remotenode" name="remotenode" ng-model="openchannel.remotenode" class="form-control" required></textarea>
                    <div class="input-group-btn">
                      <button style="height:100%" ng-click="doqrscanner();" data-backdrop="static" data-keyboard="false" class="btn btn-primary btn-lg" type="button"><div class=" glyphicon glyphicon-qrcode"/></button>
                    </div>
                  </div>
                  <span style="color:red;" ng-show="openchannelform.remotenode.$error.required ">Please specify a remote node.</span>
                </div>
              </div>
              <div class="form-group">
                <div class"form-control">
                  <label for="amount">Funding Amount</label>
                  <input type="number" class="form-control" id="amount" name="amount" ng-model="openchannel.amount" min="0.001" required>
                  <span style="color:red;" ng-show="openchannelform.amount.$error.min||openchannelform.amount.$error.required ">Amount must be greater than 0.001</span>
                </div>
              </div>
              <div class="alert alert-danger" ng-show="openchannel.haserror">
                <h4>Network Error:</h4>
                <p>{{openchannel.error}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" ng-show="openchannel.loading">
            <div class="loader"></div>
          </div>
          <div class="btn-group">
            <button type="button" ng-click="openchannel()" ng-disabled="!openchannelform.$valid||openchannel.loading" class="btn btn-success">Send</button>
            <button type="button" ng-click="close()" ng-disabled="openchannel.loading" class="btn btn-warning">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
