<div id="home" class="myfadein" ng-controller="HomeController as vm">
   <div class="container-fluid">
      <div id="homePage" class="row" ng-cloak ng-show="vm.isloaded">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <b>
                     <h4 ng-cloak>
                     My Wallet<br>
                     <b class="h6">{{vm.user.id}}</b>
                     <h4>
                  </b>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-12">
                        <blockquote class="walletblock">
                           <ul class="list-inline compact">
                              <li class="h4 mono text-right" style="width: 10em">
                                 <b>Available </b><span class="bg-primary h6">(mBTC)</span><br>
                                 <div id="btc-funds" style="margin-top:10px" class="text-right" ng-cloak>{{vm.balances.btcfunds | number: 2}}</div>
                              </li>
                              <li>
                                 <img src="icons/bitcoin.png" style="vertical-align:bottom;width: 50px; height: 50px;">
                              </li>
                           </ul>
                           <ul class="list-inline compact">
                              <li class="h4 mono text-right"  style="width: 10em">
                                 <b>In Channel</b> <span class="bg-primary h6">(mBTC)</span><br>
                                 <div id="lnt-funds" style="margin-top:10px;" class="text-right" ng-cloak>{{vm.balances.lntfunds | number: 2}}</div>
                              </li>
                              <li>
                                 <img src="icons/lightning.png" style="vertical-align:bottom;width: 50px; height: 50px;">
                              </li>
                           </ul>
                        </blockquote>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
                        <div class="btn-group btn-group-justified">
                           <a href="javascript:void(0)" style="white-space: pre-wrap; !important" ng-click="vm.doquickpay()()" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-info" ng-show="vm.hasaliases">Quick Pay</a>
                           <a href="javascript:void(0)" style="white-space: pre-wrap; !important" ng-click="vm.dosendpayment()" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-success">Pay Invoice</a>
                           <a href="javascript:void(0)" style="white-space: pre-wrap; !important" ng-click="vm.docreateinvoice()" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-warning">Create Invoice</a>
                        </div>
                     </div>
                  </div>
                  <br>
                  <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <strong><span class="glyphicon glyphicon-qrcode qrcodeicon"></span> Bitcoin Address: </strong>
                        <p class="mono" ng-cloak>
                           <a href="javascript:void(0)" ng-click="vm.doqrdisplay('Bitcoin Address', vm.btcaddress)">
                        <blockquote class="walletblock">{{vm.btcaddress}}</blockquote></a></p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <strong><span style="padding-left:-3px;" class="glyphicon glyphicon-qrcode qrcodeicon"></span> Lightning Connection Code: </strong>
                        <p class="mono" ng-cloak>
                          <a href="javascript:void(0)" ng-click="vm.doqrdisplay('Lightning Connection Code', vm.info.result.nodeId+'@'+vm.info.result.alias+':'+vm.info.result.port)">
                            <blockquote class="walletblock">{{vm.info.result.nodeId}}@{{vm.info.result.alias}}:{{vm.info.result.port}}
                            </blockquote>
                          </a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" ng-cloak ng-show="vm.isloaded">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <ul class="list-inline">
                     <li class="h4">
                        <b>Open Channels</b><br>
                        <b class="h6">Viewing: ({{vm.selectedchannel.text}})</b>
                     </li>
                     <li>
                        <div class="dropup" style="vertical-align:bottom;">
                           <button type="button" ng-click="vm.doopenchannel()" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-primary btn-sm">Open New</button>
                           <div class="btn-group">
                              <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Filter
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                 <li><a href="javascript:void(0)" ng-click="vm.channelfilterselected('', 'All')">All</a></li>
                                 <li><a href="javascript:void(0)" ng-click="vm.channelfilterselected('Open', 'Open')">Open</a></li>
                                 <li><a href="javascript:void(0)" ng-click="vm.channelfilterselected('Pending', 'Pending')">Pending</a></li>
                                 <li><a href="javascript:void(0)" ng-click="vm.channelfilterselected('Closing', 'Closing')">Closing</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="panel-body">
                  <div ng-cloak ng-repeat="u in vm.channels | filter: { state: vm.selectedchannel.filter }" class="panel panel-default shadow">
                     <div class="panel-body">
                        <div class="row">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <strong>Remote Node ID:</strong>
                              <p>{{u.node}}<br/>
                                 <span class="label label-primary">{{u.alias}}</span>
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <div class="progress" style="height:10px">
                                 <div class="progress-bar progress-bar-success" role="progressbar" style="transition:none;width: {{u.balance/u.capacity*100}}%" aria-valuenow="{{u.balance}}" aria-valuemin="0" aria-valuemax="{{u.capacity}}"></div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
                              <strong>My Balance:</strong>
                              <p>{{u.balance | number: 2}}</p>
                           </div>
                           <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                              <strong>Limit:</strong>
                              <p>{{u.capacity | number: 2}}</p>
                           </div>
                           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <strong>Status:</strong>
                              <p>{{u.state}}</p>
                           </div>
                           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
                              <div class="btn-group">
                                 <div class="btn btn-primary" ng-click="vm.close(u.channel)">Close</div>
                                 <div class="btn btn-primary" ng-click="vm.forceclose(u.channel)">Force Close</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
