<div id="transactions" class="myfadein" ng-controller="TransactionController as vm">
  <div class="container-fluid">
    <div id="homePage" class="row" ng-cloak ng-show="vm.isloaded">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
             <b>
                <h4 ng-cloak>
                My Recent Transactions<br>
                <b class="h6">{{vm.user.id}}</b>
                <h4>
             </b>
          </div>
          <div class="panel-body" style="padding:0px !important">
            <div ng-cloak ng-repeat="u in vm.transactions" class="panel panel-default shadow" style="margin-bottom:2px;margin-top:2px;margin-left:2px;margin-right:2px;border-radius:0px">
              <div class="panel-body transactions">
                <div class="row">
                  <div class="col-xs-5 col-sm-2 col-md-2 col-lg-1 ">
                    <ul class="list-inline">
                      <li class="text-right" >
                        <img src="{{u.icon}}" style="vertical-align:bottom;width: 20px; height: 20px;"/>
                      </li>
                      <li class="text-right" style="width:60px">
                        <strong style="font-size:1.0em">{{u.month}}</strong> {{u.day}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-7 col-sm-3 col-md-2 col-lg-1 text-right" style="font-size:1.1em;">
                    <span class="label {{u.class}}">{{u.amount | number: 2}}</span> <span class="label label-warning">{{u.total_fees  | number: 2}}</span>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10" style="font-size:1.0em;overflow:hidden;white-space: nowrap !important; text-overflow: ellipsis;">
                    <strong class="h5">{{u.memo}}</strong>
                  </div>
                  <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" style="font-size:1.0em;overflow:hidden;white-space: nowrap !important; text-overflow: ellipsis;">
                    <span class="small mono">{{u.hash}}</class><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
