<!-- Create Invoice Modal -->
<div class="modal" id="createinvoicemodal" style="top:30px" data-backdrop="static" data-keyboard="false">
  <form id="createinvoiceform" name="createinvoiceform" class="container" novalidate>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="close()" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="modallabel">Create New Invoice</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
              <div class="[ form-group ]">
                <input type="checkbox" name="invoiceeasypay" id="invoiceeasypay" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="invoiceeasypay" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="invoiceeasypay" class="[ btn btn-default active ]">
                        Enable Quick Pay
                    </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
              <div class="form-group">
                <div class"form-control">
                  <label for="invoiceamount">Amount:</label>
                  <input type="number" class="form-control" ng-model="createinvoice.amount" id="amount" name="amount" min="0.001" required/>
                  <span style="color:red;" ng-show="createinvoiceform.amount.$error.min||createinvoiceform.amount.$error.required ">Amount must be greater than 0.001</span>
                </div>
              </div>
              <div class="form-group">
                <div class"form-control">
                  <label for="invoicememo">Memo:</label>
                  <input type="text" class="form-control" ng-model="createinvoice.memo" id="memo" name="memo"/>
                </div>
              </div>
              <div class="alert alert-danger" ng-show="createinvoice.haserror">
                <h4>Network Error:</h4>
                <p ng-cloak>{{createinvoice.error}}</p>
              </div>
            </div>
          </div>
          <div class="row" align="center" ng-show="createinvoice.codeready">
            <img id="invoice-image" style="width: 300px; height: 300px;"><br/><br/>
            <p ng-cloak class="mono" align="left" style="width: 100%;word-wrap: break-word!important">{{createinvoice.invoicecode}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" ng-show="createinvoice.loading">
            <div class="loader"></div>
          </div>
          <div class="btn-group">
            <button type="button" ng-click="createinvoice()" ng-disabled="!createinvoiceform.$valid||createinvoice.loading" class="btn btn-success">Generate</button>
            <button type="button" ng-click="close()" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
