<!-- Send Payment Modal -->
<div class="modal" id="sendpaymentmodal" style="top:30px" data-backdrop="static" data-keyboard="false">
  <form id="sendpaymentform" name="sendpaymentform" class="container" novalidate>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="close()" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="modallabel">Send a Payment</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
              <div class="form-group">
                <div class"form-control">
                  <label for="invoice">Routing Number:</label>
                  <div class="input-group input-group" style="height:100%">
                    <textarea rows="8" id="invoicecode" name="invoicecode" class="form-control" ng-model="sendpayment.invoicecode" minlength="80" required></textarea>
                    <div class="input-group-btn" style="vertical-align:bottom">
                      <button style="height:100%" ng-click="doqrscanner();" data-backdrop="static" data-keyboard="false" class="btn btn-primary btn-lg" type="button"><div class=" glyphicon glyphicon-qrcode"/></button>
                    </div>
                  </div>
                  <span style="color:red;" ng-show="sendpaymentform.invoicecode.$error.minlength">Minimum length of routing number is 80.</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
              <div class="form-group" ng-show="sendpaymentform.invoicecode.$modelValue.includes('@')">
                <div class"form-control">
                  <label for="invoiceamount">Quick Pay Alias:</label>
                  <input type="text" class="form-control" id="alias" name="alias" ng-model="sendpayment.alias" ng-required="sendpaymentform.invoicecode.$modelValue.includes('@')"/>
                  <span style="color:red;" ng-show="sendpaymentform.alias.$error.min||sendpaymentform.alias.$error.required">Specify an alias to allow future quick pays to this recipient.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" ng-show="sendpayment.haserror">
            <h4>Network Error:</h4>
            <p>{{sendpayment.error}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" ng-show="sendpayment.loading">
            <div class="loader"></div>
          </div>
          <div class="btn-group">
            <button type="button" ng-click="sendpayment()" ng-disabled="!sendpaymentform.$valid||sendpayment.loading" class="btn btn-success" >Send</button>
            <button type="button" ng-click="close()" ng-disabled="sendpayment.loading" class="btn btn-warning">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
