<div id="home" class="myfadein" ng-controller="HomeController as vm">
  <div class="panel panel-default">
     <div class="panel-heading" style="height:90px;">
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vertical-align">
           <span class="h4" style="position:absolute; top:0; flex:7">Address Book</span>
           <!-- <b class="h6">Viewing: ({{vm.selectedchannel.text}})</b> -->
           <button style="flex:1" type="button" ng-click="vm.doaddcontact()" ng-disabled="main.serverdisconnected" class="btn btn-primary pull-right btn-sm">Add Contact</button>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px;">
           <div class="form-group has-feedback">
             <input type="text" class="form-control input-sm" id="contactsearch" name="contactsearch" ng-model="vm.contactsearch" placeholder="Search by name..."/>
             <span class="glyphicon glyphicon-search form-control-feedback"></span>
           </div>
         </div>
       </div>
     </div>
     <div class="panel-body fixed-panel" style="min-height:100px" id="style-3">
        <div ng-cloak ng-repeat="value in vm.addressbook  | orderBy: 'alias' | filter: {alias: vm.contactsearch}" class="panel panel-default address-animation">
           <div class="panel-heading">
             <strong ng-show="!value.unknownpeer">{{value.alias}}</strong>
             <strong ng-show="value.unknownpeer"><code>Unknown Peer</code></strong>
             <br>
             <span class="label label-{{value.displaytype}} pull-right" style="font-size:0.8em">{{value.status}}</span>
           </div>
           <div class="panel-body">
              <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong>Address:</strong>
                    <!-- <span class="label label-{{value.displaytype}} pull-right" style="font-size:0.8em">Status: {{value.status}}</span> -->
                    <p style="overflow:hidden;white-space: nowrap !important; text-overflow: ellipsis;">{{value.id}}</p>
                 </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="value.channels.length > 0">
                  <strong>Channel(s):</strong>
                  <br>
                  <span style="display:flex; margin-top:5px" ng-repeat="c in value.channels">
                    <div class="progress">
                      <strong class="progress-value">{{c.balance  | number: 2}} tUSD</strong>
                      <div class="progress-bar progress-bar-{{c.displaytype}}" role="progressbar" style="width: {{c.balance/c.capacity*100}}%" aria-valuenow="{{c.balance}}" aria-valuemin="0" aria-valuemax="{{c.capacity}}"></div>
                    </div>
                    <!-- <a href="javascript:void(0)" class="glyphicon  glyphicon-remove pull-right text-danger text-shadow" style="font-size:18px;display:inline-block;margin-top:-1px;margin-left:4px;text-decoration: none" ng-click="vm.forceclose(u.channel)"></a> -->
                    <a href="javascript:void(0)" title="Close Channel" class="glyphicon glyphicon-remove pull-right text-success" style="font-size:18px;display:inline-block;margin-left:4px;text-decoration: none" ng-click="vm.close(c.channel, false)" ng-show="c.active && c.state.includes('Open')"></a>
                    <a href="javascript:void(0)" title="Force Close Channel" class="glyphicon glyphicon-trash pull-right text-danger" style="font-size:18px;display:inline-block;margin-left:4px;text-decoration: none" ng-click="vm.close(c.channel, true)" ng-show="c.state.includes('Open')"></a>
                  </span>
                </div>
              </div>
              <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-group pull-left">
                      <a href="javascript:void(0)" ng-click="vm.doquickpay(value.id)" ng-show="value.invoiceserver" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-flash"></span> Pay</a>
                      <a href="javascript:void(0)" ng-click="vm.doreconnect(value)" ng-show="value.channelserver && value.status=='Disconnected'" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-flash"></span> Reconnect</a>
                      <a href="javascript:void(0)" ng-click="vm.doopenchannel(value)" ng-show="value.channelserver" style="white-space: pre-wrap; !important" ng-disabled="main.serverdisconnected||!main.blockchainsynced" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Channel</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
