<div id="transactions" class="myfadein" ng-controller="TransactionController as vm" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading" style="height:90px;">
       <b>
          <h4 ng-cloak>
          Recent Transactions<br>
          <b class="h6">{{vm.user.id}}</b>
          <h4>
       </b>
    </div>
    <div class="panel-body fixed-panel" id="style-3">
      <div ng-cloak ng-repeat="u in vm.transactions" class="panel panel-default" style="margin-bottom:4px;margin-top:4px;margin-left:4px;margin-right:4px;border-radius:4px">
        <div class="panel-body transactions">
          <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2 ">
              <ul class="list-inline">
                <li class="text-right" >
                  <img src="{{u.icon}}" style="vertical-align:bottom;width: 20px; height: 20px;"/>
                </li>
                <li class="text-right" style="width:60px">
                  <strong style="font-size:1.0em">{{u.month}}</strong> {{u.day}}
                </li>
              </ul>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-4 col-lg-4 text-right" style="font-size:1.1em;">
              <span class="label {{u.class}}">{{u.amount | number: 2}}</span> <span class="label label-warning">{{u.total_fees  | number: 2}}</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="font-size:1.0em;overflow:hidden;white-space: nowrap !important; text-overflow: ellipsis;">
              <strong class="h5">{{u.memo}}</strong>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="font-size:1.0em;overflow:hidden;white-space: nowrap !important; text-overflow: ellipsis;">
              <span class="small mono">{{u.hash}}</span><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
