body { padding-right: 0 !important; padding-top: 0px; overflow-x: hidden}

.panel-body  {
  word-wrap: break-word;
}
.wrap {
  white-space: normal;
  word-wrap: break-word;
}

.branding {
  align:center !important;
  margin-top:-5px;
  margin-bottom:10px;
  height:100px !important;
}

/* Progress bar */
/**********************/
.progress {
  height:20px;
  display:inline-block;
  float-left;
  width:100%;
  margin-bottom:5px;
  text-align:center;
}

.progress-value {
    position:absolute;
    right:50%;
    left:0;
    text-align:right;
}

.progress-bar {
  transition:none;
  z-index:-1;
}
/* QR Code Copy/Paste */
/**********************/
.code-display {
  display: flex;
  width: 100%;
}

.code-display > .code {
  flex-basis:auto;
  order: 1;
  flex: 7;
  word-break:break-all;
  vertical-align: middle;
}

.code-display > .btn-copy {
  order: 1;
  flex: 1;
}

.code-display > .btn-copy .btn {
  height:100%;
  width:100%;
  margin-left:4px;
}

.code-display > .btn-copy .btn > div {
  font-size: 20px;
}
/**********************/

.vertical-align {
    /*display: flex;*/
    align-items: center;
}

@media only screen and (max-width : 320px) {
  .toosmall {
    display: none;
  }
}

@media only screen and (max-height : 670px) {
  .branding {
    height:75px !important;
  }
}

@media only screen and (max-width : 768px) {
  .branding {
    height:75px !important;
  }
}

@media only screen and (min-width : 768px)
{
  body {
    position:fixed;
    display:flex;
    flex-direction:column;
    width:100%;
    overflow-y: hidden
  }
  .fixed-panel {
    height: calc(100vh - 180px);
    overflow-y: auto;
  }
  /* Account for iamge */
  .wallet-panel {
    height: calc(100vh - 180px);
    overflow-y: auto;
  }
  /*
   *  SCROLLBAR STYLE 1
   */
   #style-3::-webkit-scrollbar-track
   {
   	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   	background-color: #F5F5F5;
   }

   #style-3::-webkit-scrollbar
   {
   	width: 10px;
   	background-color: #F5F5F5;
   }

   #style-3::-webkit-scrollbar-thumb
   {
   	background-color: grey;
   }

}

.shadow {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.42);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.42);*/
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}
.text-shadow {
  text-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

.information-icon {
  text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  text-decoration: none !important;
  font-size: 35px;
}

.mono {
  font-family: Consolas, Lucida Console, monospace;
}
.qrcodeicon {
  font-size:1.3em !important;
  vertical-align: top;
}
.uppercase {
  text-transform: uppercase;
}
.walletblock {
  font-size:1.0em !important;
  margin-left:5px !important;
  padding: 5px 10px;
}
.compact > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.transactions {
  padding: 5px !important;
}
.transactions ul {
  margin-bottom: 0px !important;
}
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-container {
  position:fixed;
  top: 10px;
  z-index:9999;
  border-radius:5px;
}

.special-img
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

/*
  We are using CSS transitions for when the enter and move events
  are triggered for the element that has the `repeated-item` class
*/
.address-animation.ng-enter, .repeated-item.ng-move {
  transition: all 0.2s linear;
  opacity: 0;
}

/*
  `.ng-enter-active` and `.ng-move-active` are where the transition destination
  properties are set so that the animation knows what to animate
*/
.address-animation.ng-enter.ng-enter-active,
.address-animation.ng-move.ng-move-active {
  opacity: 1;
}

/*
  We are using CSS keyframe animations for when the `leave` event
  is triggered for the element that has the `repeated-item` class
*/
.address-animation.ng-leave {
  animation: 0.2s my_animation;
}

@keyframes my_animation {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/***************************
  Page Transitions
 ***************************/

.my_web_div {
    position: absolute;
    right:15px;
    left:15px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity:0;  } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.myfadein {
  opacity:0;
  -webkit-animation:fadeIn 1s;
  -moz-animation:fadeIn 1s;
  animation:fadeIn 1s;
  animation-fill-mode: forwards;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slide_from_left_to_right [ng-view]{
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.slide_from_left_to_right [ng-view].ng-enter  {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    will-change: transform;
}

.slide_from_left_to_right [ng-view].ng-enter.ng-enter-active, .slide_from_right_to_left.ng-leave {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.slide_from_left_to_right [ng-view].ng-leave {
  -webkit-animation:fadeOut 0.1s;
  -moz-animation:fadeOut 0.1s;
  animation:fadeOut 0.1s;
  animation-fill-mode: forwards;
}


.slide_from_left_to_right [ng-view].ng-leave.ng-leave-active  {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    will-change: transform;
}

 .slide_from_right_to_left [ng-view]{
   -webkit-transition: -webkit-transform 0.2s;
   -moz-transition: -moz-transform 0.2s;
   -o-transition: -o-transform 0.2s;
   transition: transform 0.2s;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   will-change: transform;
}

.slide_from_right_to_left [ng-view].ng-enter  {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    will-change: transform;
}

.slide_from_right_to_left [ng-view].ng-enter.ng-enter-active, .slide_from_left_to_right.ng-leave {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.slide_from_right_to_left [ng-view].ng-leave {
  -webkit-animation:fadeOut 0.1s;
  -moz-animation:fadeOut 0.1s;
  animation:fadeOut 0.1s;
  animation-fill-mode: forwards;
}

.slide_from_right_to_left [ng-view].ng-leave.ng-leave-active  {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    will-change: transform;
}
